<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <p class="post-meta">
          Mis austeras experiencias gastronómicas dignas de contar.
        </p>
        <p class="post-meta">Síguenos <a routerLink="restaurantes"><span class="my-links">(Ver Restaurantes)</span></a> en esta experiencia a ver qué te parece.</p>
      </div>
      <hr>
      <div class="post-preview">
        <p class="post-meta">El último visitado;</p>
        <p class="post-meta ml-3"><a routerLink="terreo"><span class="my-links">Terreo</span></a> el 27 de marzo del 2019</p>
      </div>
      <div class="post-preview">
      <h3 class="post-title">
       <strong>Comentario</strong>
      </h3>
      <h5 class="post-subtitle">
        Una apuesta por el arroz
      </h5>
        <p class="post-meta">Visité este restaurante, "Terreo", invitado por un amigo que celebraba la inminente llegada de un miembro mas a su
          familia y formar así una espléndida familia numerosa. Bravo por las dos cosas, la familia numerosa y como no, por la invitación ...
          <a routerLink="terreo"><span class="my-links">seguir leyendo</span></a></p>
      </div>
      <hr>
      <!-- Pager -->
      <div class="clearfix">
          <a class="btn btn-secondary float-right" routerLink="terreo">Último visitado &rarr;</a>
      </div>
    </div>
  </div>
</div>
<hr>
