<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h3 class="post-title">
       {{ title }}
      </h3>
      <ul class="ul-restaurants" id="ul-restaurants">
        <li class="li-restaurants">
          <a routerLink="el_de_alberto" class="li-a-restaurants">El de Alberto</a><span class="li-restaurants-date"> 25-11-2018</span>
        </li>
        <li class="li-restaurants">
          <a routerLink="nado" class="li-a-restaurants">Nado</a><span class="li-restaurants-date"> 27-03-2109</span>
        </li>
        <li class="li-restaurants">
          <a routerLink="terreo" class="li-a-restaurants">Terreo</a><span class="li-restaurants-date"> 24-07-2019</span>
        </li>
      </ul>
      <hr>
      <!-- Pager
      <div class="clearfix">
        <a class="btn btn-secondary float-right" href="restaurants/terreo">Último visitado &rarr;</a>
      </div>
      -->
    </div>
  </div>
</div>
